<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Write</title>
</head>
<body>
Write content

<form action="/article/write" method="POST">
    <div>
        <div class="title">
            title
            <input type="text" name="title" />
        </div>
    </div>
    <div>
        <div class="content">
            content
            <textarea name="content"></textarea>
        </div>
    </div>
    <div>
        <span>write</span>
        <input type="submit" value="작성" />
    </div>
</form>

</body>
</html>